ipch/cgfexample-587f6308/cgfexample-340412b7.ipch
bin/CGFexample.exe
bin/CGFexample.ilk
CGFexample.opensdf
bin/CGFexample.pdb
CGFexample.sdf
CGFexample.sln
CGFexample.suo
CGFexample.vcxproj
CGFexample.vcxproj.user